.section-about {
  background-color: rgb(248, 241, 241);
  padding: 10em 0;
  margin-top: 0vh;
}

.section-streamers {
  padding: 10rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba(black, 0.6),
      rgba(black, 0.8)
    ),
    url(../img/streamingwar.png);
  background-size: cover;

  & > * {
    // applied to only the direct child
    //transform: skewY(13deg);
  }
}

.section_shows {
  background-color: lightgray;
  padding: 25rem 0 15rem 0;
}
.section-stories {
  padding: 15rem 0;
  position: relative;
}

.section-subscribe {
  padding: 15rem 0;
  background-color: rgb(32, 32, 32);
}

.subscribe {
  background-image: linear-gradient(
      105deg,
      rgba(white, 0.7) 0%,
      rgba(white, 0.7) 50%,
      transparent 50%
    ),
    url(../img/netflix-anime.jpg);
  background-size: 100%;
  border-radius: 5px;
  box-shadow: 0 0 10rem 10rem rgba(white, 0.2);
  height: 50rem;

  &__form {
    width: 50%;
    padding: 6rem;
  }
}
