// COLOR VARIABLES
$colorPrimary: orange;
$colorPrimaryDark: orangered;
$colorPrimaryRed: #e50914;

$colorSecondary: #101d2c;

$colorGreyLight1: #f9f7f6;
$colorGreyLight2: #aaa;

$colorGreyDark1: #54483a;
$colorGreyDark2: #6d5d4b;

// FONT VARIABLES
$fontPrimary: "Nunito", sans-serif;
$fontDisplay: "Josefin Sans", sans-serif;

*,
*::before,
*::after {
  //margine: 0;
  //padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $fontPrimary;
  color: yellowgreen;
  font-weight: 300;
  line-height: 1.6l;
}

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns:
    [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 15rem) [col-end])
    [center-end] minmax(6rem, 1fr) [full-end];
}
