*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /*
  don't use universal setting, but use inherit
  box-sizing: border-box;
  */
  box-sizing: inherit;
}

html {
  /*
  for easy rem calculation. 
  but, specifying it px is not a good practice because this will impact user setting.
  instead, use percentage.
  font-size: 10px;
  */

  // rem will use against this font-size
  font-size: 62.5%; // 1rem = 10px, 10/16 = 62.5%

  //
  //
  @include media_query(tab-land) {
    // width < 1200
    font-size: 56.25%; // 1 rem = 9px, 9/16 = 56.25%
  }

  @include media_query(tab-port) {
    // width < 900
    font-size: 50%; // 1rem = 8px, 8/16 = 50%
  }

  @include media_query(phone) {
    // width < 600
    font-size: 40%;
  }

  @include media_query(big-desktop) {
    // with > 1800
    font-size: 75%; // 1rem = 12px, 12/16 = 75%
  }
}

body {
  padding: 0rem;
  box-sizing: border-box;
}
