.footer {
  background-color: black;
  padding: 10rem 0;
  font-size: 1.7rem;
  color: lightgray;

  &__logo-box {
    text-align: center;
    margin-bottom: 4rem;
  }

  &__logo {
    width: 20rem;
    height: auto;
  }

  &__navigation {
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 3rem;
    }
  }

  &__link {
    color: lightgray;
    &:link,
    &:visited {
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
    }

    &:hover,
    &:active {
      color: white;
      box-shadow: 0 1rem 2rem rgba(white, 0.6);
      transform: scale(1.2);
    }
  }

  &__copyright {
    float: right;
  }
}
