.header {
  height: 30vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(gray, 0.7),
      rgba(black, 0.9)
    ),
    url(../img/disney-titles.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  //clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);

  &__logo-box {
    position: absolute;
    top: 3rem;
    left: 3rem;
  }

  &__logo {
    height: 5rem;
    border-radius: 50%;
  }

  &__text-box {
    position: absolute;
    top: 50%; /* relative to parent */
    left: 50%;
    transform: translate(-50%, -50%); /* shift the text box to the center */
    text-align: center;
    /*
    background-color: red;
    */
  }
}
