@mixin btn-link-visited {
  text-transform: uppercase;
  text-decoration: none;
  /* padding top right bottom left */
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 1rem;
  transition: all 0.2s;
  position: relative;
}

@mixin hover_animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// media query manager

/*
0 - 600px: phone
600 - 900px: tablet portrait
900 - 1200px: table landscape
1200-1800 is where our normal style applies 
1800px - : big desktop
*/

// bad way of doing media query
/*
@mixin respond-phone {
  @media (max-width: 600px) {
    @content;
  }
}
*/
/*
em is the best option for the media query
1 em = 16px

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/
@mixin media_query($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      //600px/16px of root font size
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      @content;
    }
  }

  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      @content;
    }
  }
}
